/**
 * @name zClearVision
 * @author ClearVision Team + ndot
 * @version 1.0.5
 * @description Highly customizable and beautiful theme for BetterDiscord
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.gitlab.io
 * @invite 2fKpjAR
*/

@import url('https://null-zero.github.io/zClearVision_Main.theme.css');

:root {
    --avatar-radius: 50%;   /* 50% for circle, 0 for square */   /* sq recommendations 3px */  
    --status-radius: 50%;   /* sq recommendations 3px */  
    --server-radius: 50%;   /* sq recommendations 8px */  
}


/* #region SQUARE ICON status fix. Only enable if you set avi's square
    rect[mask="url(#svg-mask-status-dnd)"],
    rect[mask="url(#svg-mask-status-online)"],
    rect[mask="url(#svg-mask-status-idle)"],
    rect[mask="url(#svg-mask-status-online-mobile)"],
    rect[mask="url(#svg-mask-status-offline)"],
    .pointerEvents-9SZWKj
    {
        mask: none;
    }
    .pointerEvents-9SZWKj {
        stroke:black;
        stroke-width: 2px;
        margin-bottom: 1px;
        rx: var(--avatar-radius);
        ry: var(--avatar-radius);
    }
    .wrapper-1VLyxH[aria-label*="Online"] rect.pointerEvents-9SZWKj:not([width="25"]) {
        fill: var(--online-color);
    }
    .wrapper-1VLyxH[aria-label*="Idle"] rect.pointerEvents-9SZWKj:not([width="25"]) {
        fill: var(--idle-color);
    }
    .wrapper-1VLyxH[aria-label*="Do Not Disturb"] rect.pointerEvents-9SZWKj:not([width="25"]) {
        fill: var(--dnd-color);
    }

    .wrapper-1VLyxH[aria-label*="mobile"] rect.pointerEvents-9SZWKj[height="15"] {
        height: 10px;
        x: 22px;
        y: 22px;
    }
    .wrapper-1VLyxH[aria-label*="mobile"] rect.pointerEvents-9SZWKj[height="24"] {
        height: 16px;
        x: 60px;
        y: 60px;
    }
    .wrapper-1VLyxH[aria-label*="mobile"] rect.pointerEvents-9SZWKj[height="36"] {
        height: 24px;
        x: 88px;
        y: 88px;
    }
/* #endregion */
